#contact{
    background: #F5F5F7;
    width: 100%;
    padding-bottom: 50px;


    .email, .phone{
        text-align: center;
        font-size: 1.5rem;
        padding: 20px 0;
    }

    .social-icons{
        text-align: center;
        padding: 20px 0;
        div{
            font-size: 20px;
            margin-bottom: 20px;
            font-weight: bold;
        }
      
        i{
            font-size: 2rem;
            color: #fff;
            width: 50px;
            line-height: 50px;
            height: 50px;
            margin: 0 50px;
            background: rgb(24, 23, 23);
            
        }
    
    }
    .contact-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        iframe{
            width: 40%;
        }
    
    
       
       
    }
    
}

@media(max-width:991px){
    #contact{
        .contact-wrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            iframe{
                width: 90%;
            }
        
        
           
           
        }

    }
    
}