#home{
    position: relative;
    margin-top: -90px;
    padding-top: 90px;
      
      
}
.studio-text{
    font-size: 30px;
    position: absolute;
    color: #fff;
    top: 90px;
    font-weight: normal;
    right: 0%;
    z-index: 1;
    background: #c70000;
    padding: 0 50px;
}
.social-icons-wrapper{
    position: absolute;
    bottom: 50px;
    background: #c5c5c555;
    left: 50px;
    z-index: 9;

    a{
        color: #fff;
        i{
            background: #0009;
            width: 50px;
            text-align: center;
            line-height: 50px;
            border-radius: 100%;
            border: 2px solid #fff;
            height: 50px;
            font-size: 30px;
            margin: 20px;

        }
        i:hover{
            background: #c70000 !important;

        }
    }

}
@media(max-width:600px){
    .studio-text{
        font-size: 16px;
    }
    .social-icons-wrapper{
        a{
            i{
            font-size: 12px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border: 1px solid #fff;
            margin: 5px 0;

            }
            
        }
    }
}

