#home{
    position: relative;
    margin-top: -90px;
    padding-top: 90px;
      
      
}
.studio-text{
    font-size: 50px;
    position: absolute;
    color: #fff;
    top: 90px;
    right: 0%;
    z-index: 1;
    background: orangered;
    text-shadow: 0 5px 5px #000;
    padding: 0 50px;
}
.social-icons-wrapper{
    position: absolute;
    bottom: 50px;
    background: #0005;
    left: 50px;
    z-index: 1;
    a{
        color: #fff;
        i{
            background: #0009;
            width: 50px;
            text-align: center;
            line-height: 50px;
            border-radius: 100%;
            border: 2px solid #fff;
            height: 50px;
            font-size: 30px;
            margin: 20px;
        }
    }

}
@media(max-width:600px){
    .studio-text{
        font-size: 16px;
    }
}

