section#photography{
    background: #1b1b1b;
    padding-bottom: 50px;
    .title{
        color: #fff;
        i{
            font-size: 60px;
            position: absolute;
            margin-left: 100px;

        }
    }
    .photos_wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1600px;
        margin: auto;
        div img{
            width: 350px;
            height: 300px;
            margin: 10px;
        }
        div img:hover{
            transform: scale(1.1);
        }
        div:nth-child(1) img{
            width: 720px;
        }
    }
}
