#services{
    background-size: cover;
    background: #F5F5F7;
    background-position: center;
    position: relative;
    padding-bottom: 50px;


}
a{
    text-decoration: none !important;
}

.services-items-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.card{
    z-index: 9;
    margin:20px ;
}
.card-title{
    font-size: 25px;
    text-transform: capitalize;
    background: #c70000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.card-img-top{
    height: 190px;
}

.cup-print-showcase{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #eee;
    align-items: center;
    padding-bottom: 20px;
    p{
        padding: 10px;
        font-size: 25px;
        width: 100%;
        text-align: center;
        background: #eee;
        font-weight: 500;
        color: #000;
    }

    img{
        width: 150px;
        height: 150px;
        margin: 10px;
    }
}