#services{
    background-size: cover;
    background: #F5F5F7;
    background-position: center;
    position: relative;
    padding-bottom: 50px;


}

.services-items-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.card{
    z-index: 9;
    margin:20px ;
}
.card-title{
    font-size: 25px;
    text-transform: capitalize;
    background: orangered;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.card-img-top{
    height: 190px;
}