@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
.carousel-inner {
  width: 100%;
  max-height: 500px !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 40px;
  height: 40px;
}

.carousel-indicators li {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 10px;
  text-indent: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
          box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.carousel-indicators .active {
  margin: 10px;
  background-color: orangered;
}

ol.carousel-indicators {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #0008;
  margin: auto;
}

@media (min-width: 1370px) {
  .carousel-inner {
    width: 100%;
    max-height: 700px !important;
  }
}

#home {
  position: relative;
  margin-top: -90px;
  padding-top: 90px;
}

.studio-text {
  font-size: 50px;
  position: absolute;
  color: #fff;
  top: 90px;
  right: 0%;
  z-index: 1;
  background: orangered;
  text-shadow: 0 5px 5px #000;
  padding: 0 50px;
}

.social-icons-wrapper {
  position: absolute;
  bottom: 50px;
  background: #0005;
  left: 50px;
  z-index: 1;
}

.social-icons-wrapper a {
  color: #fff;
}

.social-icons-wrapper a i {
  background: #0009;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 100%;
  border: 2px solid #fff;
  height: 50px;
  font-size: 30px;
  margin: 20px;
}

@media (max-width: 600px) {
  .studio-text {
    font-size: 16px;
  }
}

li.nav-item a {
  font-weight: bold;
}

.primary-nav {
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}

.shrink {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 70px !important;
}

.shrink a {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

nav {
  height: 90px;
}

.navbar-collapse.show {
  background: #fff;
}

.navbar-brand {
  color: orangered !important;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  margin-left: 50px;
}

.navbar-brand img {
  position: absolute;
  top: 0;
  left: 0;
  height: 90px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}

.nav-item {
  padding: 0 20px;
}

.nav-item a {
  text-transform: uppercase;
  color: #000 !important;
  letter-spacing: 1px;
}

.nav-item a:hover {
  color: orangered !important;
}

.nav-item a.active {
  border-bottom: 3px solid orangered;
}

.navbar-nav {
  margin-left: 15%;
}

body {
  overflow-x: hidden;
}

div {
  overflow: hidden;
}

@media (max-width: 991px) {
  .navbar-nav {
    margin: auto;
  }
  a.active {
    border-bottom: none !important;
  }
  .nav-item a {
    text-align: center;
  }
}

#services {
  background-size: cover;
  background: #F5F5F7;
  background-position: center;
  position: relative;
  padding-bottom: 50px;
}

.services-items-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  z-index: 9;
  margin: 20px;
}

.card-title {
  font-size: 25px;
  text-transform: capitalize;
  background: orangered;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.card-img-top {
  height: 190px;
}

section#photography {
  background: #1b1b1b;
  padding-bottom: 50px;
}

section#photography .title {
  color: #fff;
}

section#photography .title i {
  font-size: 60px;
  position: absolute;
  margin-left: 100px;
}

section#photography .photos_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1600px;
  margin: auto;
}

section#photography .photos_wrapper div img {
  width: 350px;
  height: 300px;
  margin: 10px;
}

section#photography .photos_wrapper div img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

section#photography .photos_wrapper div:nth-child(1) img {
  width: 720px;
}

.title i {
  font-size: 60px;
  margin-left: 70px;
  position: absolute;
}

.video-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 70px;
}

.video-wrapper iframe {
  margin: 5px;
}

.video-wrapper iframe:nth-child(3), .video-wrapper iframe:nth-child(4), .video-wrapper :nth-child(5) {
  width: 350px;
}

#framing {
  background: #555151;
}

#framing .title {
  color: #fff;
}

#framing .wrapper {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#framing .wrapper div {
  width: 50%;
  overflow: hidden;
}

#framing .wrapper div:nth-child(1) {
  border: 10px solid #fff;
}

#framing .wrapper .content {
  padding: 0 50px;
  font-size: 30px;
  color: #fff;
  text-align: left;
}

@media (max-width: 991px) {
  #framing .wrapper div {
    width: 100%;
  }
}

#contact {
  background: #F5F5F7;
  width: 100%;
  padding-bottom: 50px;
}

#contact .email, #contact .phone {
  text-align: center;
  font-size: 1.5rem;
  padding: 20px 0;
}

#contact .social-icons {
  text-align: center;
  padding: 20px 0;
}

#contact .social-icons div {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

#contact .social-icons i {
  font-size: 2rem;
  color: #fff;
  width: 50px;
  line-height: 50px;
  height: 50px;
  margin: 0 50px;
  background: #181717;
}

#contact .contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#contact .contact-wrapper iframe {
  width: 40%;
}

@media (max-width: 991px) {
  #contact .contact-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #contact .contact-wrapper iframe {
    width: 90%;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto',sans-serif;
}

html {
  scroll-behavior: smooth;
}

.title {
  font-size: 2.5rem;
  text-transform: capitalize;
  text-align: center;
  padding: 70px 0;
  position: relative;
  color: orangered;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 1;
  letter-spacing: 2px;
}

footer {
  background: #222121;
  color: #fff8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-transform: capitalize;
}

footer p {
  margin: 0 !important;
}
/*# sourceMappingURL=style.css.map */